<div class="container">
  <h1>会員情報編集</h1>

  <%= form_with(model: @customer, url: customers_path, method: :patch) do |form| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>氏名</th>
          <td><%= form.text_field :last_name, class: "form-control" %></td>
          <td><%= form.text_field :first_name, class: "form-control" %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= form.text_field :last_name_kana, class: "form-control" %></td>
          <td><%= form.text_field :first_name_kana, class: "form-control" %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= form.text_field :postal_code, class: "form-control" %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= form.text_field :address, class: "form-control" %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= form.text_field :telephone_number, class: "form-control" %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= form.email_field :email, class: "form-control" %></td>
        </tr>
      </tbody>
    </table>

    <div class="form-group">
      <%= form.submit '編集内容を保存', class: "btn btn-success" %>
      <%= link_to "退会する", customers_confirm_delete_path, method: :get, class: "btn btn-danger ms-3" %>
    </div>
  <% end %>
</div>
