<div class="container bg-light p-4">
  <h1>マイページ</h1>
  <h2>あなたの情報</h2>
  <%= link_to "編集する", edit_customers_path, class: "btn btn-success mb-3" %>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="col-3">氏名</th>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="col-3">氏名（カナ）</th>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th class="col-3">Email</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th class="col-3">郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th class="col-3">住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th class="col-3">電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "注文履歴", orders_history_path, method: :get, :class => "btn btn-primary ms-3" %>
  <%= link_to "退会する", customers_confirm_delete_path, method: :get, :class => "btn btn-danger ms-3" %>
</div>

