<h1>商品登録画面</h1>

<table class="table table-borderless">
  <tbody>
    <%= form_with model: @item, url: admin_items_path, method: :post do |form| %>
      <tr>
        <th><%= form.label :image, "商品画像" %></th>
        <td><%= form.file_field :image, class: "form-control-file" %></td>
      </tr>
      <tr>
        <th><%= form.label :name, "商品名" %></th>
        <td><%= form.text_field :name, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :introduction, "商品説明" %></th>
        <td><%= form.text_area :introduction, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= form.label :price, "税抜価格" %></th>
        <td><%= form.number_field :price, class: "form-control" %></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <%= form.submit '新規登録', class: "btn btn-lg btn-success" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
