<div class="container">
  <div class="row mt-4">
    <div class="col-md-12 text-center mb-4">
      <h1 class="display-8">商品詳細</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th>商品名</th>
                <td><%= @item.name %></td>
              </tr>
              <tr>
                <th>商品説明</th>
                <td><%= @item.introduction %></td>
              </tr>
              <tr>
                <th>税込価格</th>
                <td><%= @item.price %> 円</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= link_to "商品編集", edit_admin_item_path, class: "btn btn-success" %>
  </div>
</div>
