<h1>商品詳細</h1>
<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th>商品名</th>
                <td><%= @item.name %></td>
              </tr>
              <tr>
                <th>商品説明</th>
                <td><%= @item.introduction %></td>
              </tr>
              <tr>
                <th>税抜き価格<br>(税込み価格)</th>
                <td><%= @item.price %> 円<br>(<%= number_with_precision(@item.price * 1.1, precision: 0) %>) 円</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= link_to "編集する", edit_admin_item_path, class: "btn btn-lg btn-success" %>
  </div>
</div>
