<h1>注文履歴詳細</h1>

<table class="table table-borderless">
  <tbody>
    <tr>
      <th class="col-2">購入者</th>
      <td><%= @order.customer.last_name %> <%= @order.customer.first_name %></td>
    </tr>
    <tr>
      <th class="col-2">注文日</th>
      <td><%= @order.created_at %></td>
    </tr>
    <tr>
      <th class="col-2">お届け先</th>
      <td>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></td>
    </tr>
    <tr>
      <th class="col-2">合計金額</th>
      <td><%= @order.total_amount %></td>
    </tr>
    <tr>
      <th class="col-2">支払い方法</th>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
  </tbody>
</table>

<table class="table table-borderless">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_item| %>
      <tr>
        <td><%= order_item.item.name %></td>
        <td><%= (order_item.item.price * 1.1).floor %>円</td>
        <td><%= order_item.amount %>個</td>
        <td><%= (order_item.item.price * order_item.amount * 1.1).floor %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-borderless">
  <tr>
    <th class="col-2">合計金額</th>
    <td><%= (@order.total_amount - 800).floor %>円</td>
  </tr>
  <tr>
    <th class="col-2">送料</th>
    <td>800円</td>
  </tr>
  <tr>
    <th class="col-2">請求金額合計</th>
    <td><%= @order.total_amount %>円</td>
  </tr>
</table>
