<div class="text-center">
  <h1>ようこそ、ながのCAKEへ！</h1>
  <p>このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要となっております。</br>
  </p>
</div>

<h2>新着商品</h2>
<div class="row">
  <% @items.each do |item| %>
    <div class="col-md-3">
      <%= link_to item_path(item.id), class: "item-link" do %>
        <%= image_tag item.image, size: "250x200" %>
        <h5><%= item.name %></h5>
        <p>￥<%= item.price %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="text-right">
  <%= link_to "すべての商品をみる >", items_path, class: "nav-link" %>
</div>
