<h3>注文情報入力</h3>
<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
  <h4>支払い方法</h4>
  <div class="form-group">
    <%= f.radio_button :payment_method, :transfer %>
    <%= f.label :payment_method, "銀行振り込み" %><br>
    <%= f.radio_button :payment_method, :credit_card %>
    <%= f.label :payment_method, "クレジットカード" %><br>
  </div>
  <h4>お届け先</h4>
<div class="form-group">
  <%= f.radio_button :address, :self %>
  <%= f.label :address, "ご自身の住所" %><br>
  〒<%= f.label :postal_code, value: @order.postal_code %>
  <%= f.label :address, value: @order.address %><br>
  <%= f.label :name, value: @order.name %><br>
</div>

<table class="table table-borderless">
  <tbody>
    <tr>
      <th class="col-3">
        <%= f.radio_button :address, :new %>
        <%= f.label :address, "新しいお届け先" %>
      </th>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></th>
      <td><%= f.text_field :postal_code, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :address, "住所" %></th>
      <td><%= f.text_area :address, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :name, "宛名" %></th>
      <td><%= f.text_field :name, class: "form-control" %></td>
    </tr>
  </tbody>
</table>


<div class="text-center">
  <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
</div>
<% end %>