<h1>注文情報入力画面</h1>
<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
  <h2>支払い方法</h2>
  <div class="form-group">
    <%= f.radio_button :payment_method, :transfer %>
    <%= f.label :payment_method, "銀行振り込み" %><br>
    <%= f.radio_button :payment_method, :credit_card %>
    <%= f.label :payment_method, "クレジットカード" %><br>
  </div>
  <h2>お届け先</h2>
<div class="form-group">
  <%= f.radio_button :address, :self %>
  <%= f.label :address, "ご自身の住所" %><br>
  <%= f.label :address, value: @order.address %><br>
  <%= f.label :postal_code, value: @order.postal_code %><br>
  <%= f.label :name, value: @order.name %><br>
  <%= f.radio_button :address, :new %>
  <%= f.label :address, "新しいお届け先" %><br>
</div>

<h2>新しいお届け先</h2>
<div class="form-group">
<%= f.label :postal_code, "郵便番号" %><br>
<%= f.text_field :postal_code, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :address, "住所" %><br>
<%= f.text_area :address, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :name, "宛名" %><br>
<%= f.text_field :name, class: "form-control" %>
</div>

<%= f.submit "確認する", class: "btn btn-primary" %>
<% end %>