
<h2>注文履歴詳細</h2>

<h4>注文情報</h4>
<table class="table table-bordered">
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at.strftime("%Y/%-m/%-d") %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>〒<%= @order.postal_code %><br><%= @order.address %> <%= @order.name %></td>
  </tr>
  <tr>
    <th>支払い方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <th>合計金額</th>
    <td><%= @order.total_amount %>円</td>
  </tr>
</table>

<h4>請求情報</h4>
<table class="table table-bordered">
  <tr>
    <th>商品合計</th>
     <td><%= @order.total_amount - 800 %>円</td>
  </tr>
  <tr>
    <th>配送料</th>
    <td>800円</td>
  </tr>
  <tr>
    <th>ご請求額</th>
    <td><%= @order.total_amount %>円</td>
  </tr>
</table>


<h4>注文内容</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_item| %>
      <tr>
        <td><%= order_item.item.name %></td>
        <td><%= (order_item.item.price * 1.1).floor %>円</td>
        <td><%= order_item.amount %>個</td>
        <td><%= (order_item.item.price * order_item.amount * 1.1).floor %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "戻る", orders_history_path, class: "btn btn-primary" %>
