<h2>ログイン</h2>
<p>会員のかたはこちらからログイン</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th class="col-2">
          <%= f.label :email, "メールアドレス", class: "col-form-label" %>
        </th>
        <td>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
      </tr>
      <tr>
        <th class="col-2">
          <%= f.label :password, "パスワード", class: "col-form-label" %>
        </th>
        <td>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <%= f.submit "ログイン", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>

<p>会員登録がお済みでない方</p>
<%= link_to "こちら",new_customer_registration_path %>　から新規登録を行ってください。

