<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
    <div class="col-md-8">
      <table class="table">
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <th>税込価格</th>
            <td><%= @item.price %> 円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= form_with model: @cart_item, url: cart_items_path do |f| %>
    <div class="text-center">
      <%= f.hidden_field :item_id, :value => @item.id %>
      <div class="form-group">
        <%= f.label :amount, "数量" %>
        <%= f.select :amount, options_for_select(1..10) %>
      </div>
      <%= f.submit "カートに追加", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
