<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul class="navbar-nav ml-auto">
     <li>
        <%= link_to "home", root_path %>
      </li>
      <li>
        <%= link_to "about", about_path %>
      </li>

    <% if customer_signed_in? %>
      <li>
        <%= link_to "my_page", customers_path %>
      </li>
      <li>
        <%= link_to "log_out", destroy_customer_session_path, method: :delete %>
      </li>
    <% elsif admin_signed_in? %>
      <li>
        <%= link_to "log_out_admin", destroy_admin_session_path, method: :delete %>
      </li>
    <% else %>
       <li>
        <%= link_to "log_in", new_customer_session_path %>
      </li>
       <li>
        <%= link_to "sign_up", new_customer_registration_path %>
      </li>
    <% end %>


    </ul>

    <%= yield %>
  </body>
</html>

