<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">NaganoCake</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>

        <% if customer_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Page", customers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "カート", cart_items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log Out", destroy_customer_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "管理者としてログイン中", admin_path, method: :get, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", admin_items_path, method: :get, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customers_path, method: :get, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", new_customer_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_customer_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
